* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#todo {
  display: flex;
  font-size: 26px;
  padding: 4px 0;
}
.poiskovik {
  display: flex;
  border: 1px #6c63ff solid;
  display: flex;
  height: 35px;
  align-items: center;
  padding: 0 6px;
  img {
    display: flex;
    width: 21px;
    height: 21px;
    justify-content: center;
  }
}
#poisk {
  input {
    border: none;
    width: 510px;
    color: gray;
    padding: 10px;
  }
  input:focus {
    outline: none;
  }
}

.container {
  width: 750px;
  height: 135px;
  display: flex;
  justify-content: space-between;
}
#btn-all {
  display: flex;
  background-color: #6c63ff;
  width: 6vw;
  height: 37px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 17px;
  color: white;
}
#btn-night {
  background-color: #6c63ff;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: left;
}
.todo-list li {
  width: 380px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-bottom: 1px solid rgba(108, 99, 255, 1);
}
.todo-list input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #7a6fff;
}
.todo-list label {
  font-size: 16px;
  color: #333;
}
.todo-list li.completed label {
  text-decoration: line-through;
  color: #aaa;
}
.add-task-button {
  display: flex;
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  background: #6c63ff;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  font-size: 26px;
  justify-content: center;
  align-items: center;
}
.container-height {
  height: 60vh;
}
.container-plus {
  display: flex;
  justify-content: end;
  width: 760px;
  height: 50px;
}
.plus {
  display: flex;
  align-items: center;
}
